<html>
<head>
  <title>Powered By VirtMachine</title>
</head>

<style>
html, body {
  background: #ccc;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: #333;
}
.poweredby {
  position: fixed;
  top: 30px;
  left: 30px;
}

.poweredby h1 {
  color: #444;
  font-weight: lighter;
}

.poweredby p {
  font-size: 16px;
}

.brand {
  position: fixed;
  left: 30px;
  bottom: 30px;
  margin-top: 80px;
}

.brand p {
  font-size: 13px;
}

.brand a img {
  height: 50px;
}

</style>
<body>

  <div class="poweredby">
    <h1>VirtMachine</h1>
    <p>
      If you were expecting to see your site or application here, check your configuration settings and redeploy.
    </p>

    <div class="brand">
      <a href="http://www.jk-tech.com">
        <img src="http://virtmachine.s3.amazonaws.com/site-assets/jktech-logo.png" />
      </a>
      <p>
        This server is powered by <a href="http://www.virtmachine.com">VirtMachine</a>, a product of <a href="http://www.jk-tech.com">JK Tech, Inc.</a>
    </p>
    </div>
  </div>


</body>
</html>
